<h1>All Merchants</h1>

<h1>Add New Merchant</h1>
<form method="post" action="/merchants">
  <label for="name">Merchant:</label>
  <input type="text" name="name" id="name"/>
  <input type="submit" value="Add Merchant"/>
</form>

<% @merchants.each do |merchant| %>
    <p>Merchant: <%= merchant.name() %></p>
    <a href="/merchants/<%=merchant.id%>/edit">Edit Merchant</a>
    <form action="/merchants/<%= merchant.id %>/delete" method="post">
      <input type="submit" value="Delete" class="btn btn-link"
      onclick="if (!confirm('Deleting this merchant will delete all associated transactions, are you sure you want to delete?')) { return false }">
      </form>
<% end %>
