<h1>Add New Merchant</h1>
<form method="post" action="/merchants">
  <label for="name">Merchant:</label>
  <input type="text" name="name" id="name"/>
  <input type="submit" value="Add Merchant"/>
</form>
