* {
  font-family: 'Lato', sans-serif;
  margin-top: 0;
}

h1 {
  font-family: 'Righteous', cursive;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 7px;
  padding-bottom: 3px;
}

h2 {
  text-align: center;
  padding-top: 10px;
}

.labels {
  display: flex;
  justify-content: center;
  size: 30px;
}

.labels input {
  font-size: 16px;
}

.labels select {
  font-size: 17px;
}

.labels label {
  font-size: 22px;
}

/* html, body {
  margin: 0;
  min-height: 100vh;
} */

.main {
  background-image: url('/images/FinFrogpark.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.alert {
  padding: 25px;
  background-color: #f44336;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.amber-alert {
  padding: 25px;
  background-color: #ff8100;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.yellow-alert {
  padding: 25px;
  background-color: #ffc800;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.topnav {
  display: flex;
  box-sizing: border-box;
  background-color: #009494;
  font-size: 16px;
  font-family: sans-serif;
  padding-top: 5px;
  border: 3px solid;
  justify-content: center;
  margin: 0px;
  flex-wrap: wrap;
}

.topnav ul {
  display: flex;
  flex-direction: row;
  background-color: #009494;
  padding: 0;
  flex-wrap: wrap;
}



.topnav href {
  padding: 5px;
}

.topnav li {
  display: flex;
  padding: 10px;
  padding-top: 17px;
}

.topnav a {
  text-decoration: none;
  color: #6dffed;
  font-size: x-large;
}

.topnav a:hover {
  color: #0131b0;
}

.add-transaction {
  display: flex;
  flex-direction: column;
}

.add-transaction label {
  font-size: 21px;
}

.add-transaction select {
  font-size: 19px;
}

.add-transaction input {
  font-size: 16px;
  margin-top: 4px;
}

.form {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.input {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-top: 1px;
}

#transactions {
  border-collapse: collapse;
  width: 100%;
}

#transactions a {
  text-decoration: none;
}

#transactions td, #transactions th {
  border: 1px solid #dadada;
  padding: 8px;
}

#transactions tr:nth-child(even){background-color: #f2f2f2;}

#transactions tr {background-color: #ddd;}

#transactions th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #009494;
  color: #ffffff;
}

#center-tables {
    display: flex;
    vertical-align: middle;
    border-color: inherit;
    justify-content: center;
    margin-top: 13px;
    margin-bottom: 12px;
}

#center-tables {
  border-collapse: collapse;
  width: 100%;
}

#center-tables td, #center-tables th {
  border: 1px solid #dadada;
  padding: 8px;
}

#center-tables tr:nth-child(even){background-color: #f2f2f2;}

#center-tables tr {background-color: #ddd;}

#center-tables th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #009494;
  color: #ffffff;
}

#center-tables a {
  text-decoration: none;
}

#budget-table {
    display: flex;
    vertical-align: middle;
    border-color: inherit;
    justify-content: center;
    margin-top: 13px;
    margin-bottom: 12px;
}

#budget-table {
  border-collapse: collapse;
  width: 100%;
}

#budget-table td, #budget-table th {
  border: 1px solid #dadada;
  padding: 8px;
}

#budget-table a {
  text-decoration: none;
}

#budget-table tr:nth-child(even){background-color: #f2f2f2;}

#budget-table tr {background-color: #ddd;}

#budget-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #009494;
  color: #ffffff;
}

#transaction-tables {
    display: flex;
    vertical-align: middle;
    border-color: inherit;
    justify-content: center;
    margin-top: 13px;
    margin-bottom: 12px;
    margin-left: 2px;
}

#transaction-tables {
  border-collapse: collapse;
  width: 100%;
}

#transaction-tables td, #transaction-tables th {
  border: 1px solid #dadada;
  padding: 8px;
}

#transaction-tables tr:nth-child(even){background-color: #f2f2f2;}

#transaction-tables tr {background-color: #ddd;}

#transaction-tables th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #009494;
  color: #ffffff;
}

#transaction-tables a {
  text-decoration: none;
}

.tag-merch-table {
  display: flex;
  flex-direction: row;
}
