<h1>All Tags</h1>

<h2>Add New Tag</h2>
<div class="labels">
  <form method="post" action="/tags">
    <label for="category">Category:</label>
    <input type="text" name="category" id="category" required/>
    <input type="submit" value="Add Tag"/>
    <input type="submit" value="Cancel" href="/tags">
  </form>
</div>


<table id="center-tables">
<tr>
  <br>
    <th>Category</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
<% @tags.each do |tag| %>
<tr>
  <td><p><%= tag.category() %></p></td>
  <td><a href="/tags/<%=tag.id%>/edit">Edit</a></td>
  <td><form action="/tags/<%= tag.id %>/delete" method="post">
    <input type="submit" value="Delete" class="btn btn-link"
    onclick="if (!confirm('Deleting this tag will delete all associated transactions, are you sure you want to delete?')) { return false }">
  </form></td>
</tr>
<% end %>
