<h1>All Tags</h1>

<% @tags.each do |tag| %>
      <p>Category: <%= tag.category() %></p>
      <a href="/tags/<%=tag.id%>/edit">Edit Tag</a>
      <form action="/tags/<%= tag.id %>/delete" method="post">
        <input type="submit" value="Delete"/></form>
<% end %>
