<h1>Add New Tag</h1>
<form method="post" action="/tags">
  <label for="category">Category:</label>
  <input type="text" name="category" id="category"/>
  <input type="submit" value="Add Tag"/>
</form>
